h1 {
  font-size: 3rem;
}

body {
  background-color: red;
}

@media only screen and (orientation: portrait) {
  body {
    background-color: yellow;
  }
  h1::before {
    content: "portrait - ";
  }
}
@media only screen and (orientation: landscape) {
  body {
    background-color: blue;
  }
  h1::before {
    content: "landscape - ";
  }
}

/* HACK: https://developer.mozilla.org/en-US/docs/Web/CSS/@media#media_features */